@(message: String)

@main("Contacts in Play") {

    <script type="text/javascript">
         var loadContactDataTableRoute = "@routes.ContactController.loadContacts()";
    </script>

    <h2>Contacts DataTable loaded from Play</h2>

    <table id="contacts_table" class='display'>
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}